In [1]:
import numpy as np
import pandas as pd
import utils
from dataset import DatasetObject,import_dataframe
# from external.yousefi import dataset as external_dataset
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler

# Test

In [2]:
folderpath2 = "./data/exp_2"  # CHANGE THIS IF THE PATH CHANGED
df_exp2 = import_dataframe(folderpath2) # CHANGE THIS IF THE PATH CHANGED

Found 8 files.
input_user1.csv annotation_user1.csv user1.csv
input_user2.csv annotation_user2.csv user2.csv
input_user3.csv annotation_user3.csv user3.csv
input_user4.csv annotation_user4.csv user4.csv
input_user5.csv annotation_user5.csv user5.csv
input_user6.csv annotation_user6.csv user6.csv
input_user7.csv annotation_user7.csv user7.csv
input_user8.csv annotation_user8.csv user8.csv

In [3]:
df_exp2.head()

,time,unknown_1,amp_1,amp_2,amp_3,amp_4,amp_5,amp_6,amp_7,amp_8,...,amp_83,amp_84,amp_85,amp_86,amp_87,amp_88,amp_89,amp_90,user,label
0,12.840,1.563800e+15,23.213,29.665,34.190,37.705,42.503,44.643,43.969,43.759,...,30.475,36.271,41.809,46.564,50.021,52.826,57.838,57.896,user1.csv,noactivity
1,12.841,1.563800e+15,23.278,29.692,34.213,37.734,42.555,44.690,44.095,43.828,...,30.417,36.282,41.849,46.588,50.071,52.854,57.869,58.013,user1.csv,noactivity
2,12.842,1.563800e+15,23.353,29.725,34.235,37.772,42.623,44.755,44.248,43.915,...,30.351,36.299,41.905,46.623,50.134,52.898,57.908,58.157,user1.csv,noactivity
3,12.843,1.563800e+15,23.424,29.764,34.261,37.808,42.682,44.812,44.380,43.992,...,30.322,36.340,41.976,46.677,50.210,52.957,57.952,58.275,user1.csv,noactivity
4,12.844,1.563800e+15,23.497,29.806,34.288,37.846,42.745,44.873,44.516,44.072,...,30.297,36.387,42.054,46.738,50.290,53.024,58.000,58.397,user1.csv,noactivity

In [4]:
df_exp2['user'] = df_exp2['user'].map(lambda x: x.split('.')[0]) # processing step, required
df_exp2 = df_exp2.iloc[:,2:]
df_exp2.head()

,amp_1,amp_2,amp_3,amp_4,amp_5,amp_6,amp_7,amp_8,amp_9,amp_10,...,amp_83,amp_84,amp_85,amp_86,amp_87,amp_88,amp_89,amp_90,user,label
0,23.213,29.665,34.190,37.705,42.503,44.643,43.969,43.759,42.616,44.327,...,30.475,36.271,41.809,46.564,50.021,52.826,57.838,57.896,user1,noactivity
1,23.278,29.692,34.213,37.734,42.555,44.690,44.095,43.828,42.649,44.397,...,30.417,36.282,41.849,46.588,50.071,52.854,57.869,58.013,user1,noactivity
2,23.353,29.725,34.235,37.772,42.623,44.755,44.248,43.915,42.683,44.479,...,30.351,36.299,41.905,46.623,50.134,52.898,57.908,58.157,user1,noactivity
3,23.424,29.764,34.261,37.808,42.682,44.812,44.380,43.992,42.712,44.555,...,30.322,36.340,41.976,46.677,50.210,52.957,57.952,58.275,user1,noactivity
4,23.497,29.806,34.288,37.846,42.745,44.873,44.516,44.072,42.741,44.633,...,30.297,36.387,42.054,46.738,50.290,53.024,58.000,58.397,user1,noactivity

In [7]:

def seperate_dataframes(df):
    features_ls,labels_ls = [],[]
    for user in df['user'].unique():
        dataframe = df[df['user']==user]
        features = dataframe[[f'amp_{i}' for i in range(1,91)]].to_numpy()
#         features = MinMaxScaler().fit_transform(features)
        features_ls.append(features)
        label = dataframe[['label']].to_numpy()
        labels_ls.append(label)
    return features_ls,labels_ls

df_exp2_X_ls,df_exp2_y_ls = seperate_dataframes(df_exp2)

In [8]:
dataset_exp2 = DatasetObject()
dataset_exp2.import_data(df_exp2_X_ls,df_exp2_y_ls,window_size=1000,slide_size=200,skip_labels=['noactivity'])

index 0 arrays sizes ------ X:  (2009, 1000, 90)  Y:  (2009,)  Z:  (2009,)
index 1 arrays sizes ------ X:  (1300, 1000, 90)  Y:  (1300,)  Z:  (1300,)
index 2 arrays sizes ------ X:  (959, 1000, 90)  Y:  (959,)  Z:  (959,)
index 3 arrays sizes ------ X:  (1272, 1000, 90)  Y:  (1272,)  Z:  (1272,)
index 4 arrays sizes ------ X:  (1407, 1000, 90)  Y:  (1407,)  Z:  (1407,)
index 5 arrays sizes ------ X:  (905, 1000, 90)  Y:  (905,)  Z:  (905,)
index 6 arrays sizes ------ X:  (1171, 1000, 90)  Y:  (1171,)  Z:  (1171,)
index 7 arrays sizes ------ X:  (1062, 1000, 90)  Y:  (1062,)  Z:  (1062,)
size of DatasetObject ------ :  (8, 3)

In [8]:

dataset_exp2.data_transform(lambda arr: arr.reshape(*arr.shape,1),axis=1,col=0)
dataset_exp2.data_transform(lambda x,y,z : utils.resampling(x,y,z,True),axis=0,col=0)
dataset_exp2.shape()
dataset_exp2.label_encode(1)
dataset_exp2.label_encode(2)
dataset_exp2.shape()

index 0 arrays sizes ------ X:  (4896, 1000, 90, 1)  Y:  (4896,)  Z:  (4896,)
index 1 arrays sizes ------ X:  (3152, 1000, 90, 1)  Y:  (3152,)  Z:  (3152,)
index 2 arrays sizes ------ X:  (2456, 1000, 90, 1)  Y:  (2456,)  Z:  (2456,)
index 3 arrays sizes ------ X:  (3616, 1000, 90, 1)  Y:  (3616,)  Z:  (3616,)
index 4 arrays sizes ------ X:  (3584, 1000, 90, 1)  Y:  (3584,)  Z:  (3584,)
index 5 arrays sizes ------ X:  (2352, 1000, 90, 1)  Y:  (2352,)  Z:  (2352,)
index 6 arrays sizes ------ X:  (2760, 1000, 90, 1)  Y:  (2760,)  Z:  (2760,)
index 7 arrays sizes ------ X:  (2544, 1000, 90, 1)  Y:  (2544,)  Z:  (2544,)
size of DatasetObject ------ :  (8, 3)
index 0 arrays sizes ------ X:  (4896, 1000, 90, 1)  Y:  (4896, 8)  Z:  (4896, 8)
index 1 arrays sizes ------ X:  (3152, 1000, 90, 1)  Y:  (3152, 8)  Z:  (3152, 8)
index 2 arrays sizes ------ X:  (2456, 1000, 90, 1)  Y:  (2456, 8)  Z:  (2456, 8)
index 3 arrays sizes ------ X:  (3616, 1000, 90, 1)  Y:  (3616, 8)  Z:  (3616, 8)
index 4 arrays sizes ------ X:  (3584, 1000, 90, 1)  Y:  (3584, 8)  Z:  (3584, 8)
index 5 arrays sizes ------ X:  (2352, 1000, 90, 1)  Y:  (2352, 8)  Z:  (2352, 8)
index 6 arrays sizes ------ X:  (2760, 1000, 90, 1)  Y:  (2760, 8)  Z:  (2760, 8)
index 7 arrays sizes ------ X:  (2544, 1000, 90, 1)  Y:  (2544, 8)  Z:  (2544, 8)
size of DatasetObject ------ :  (8, 3)

array([[25.21  , 31.673 , 36.939 ],
       [41.501 , 46.801 , 49.643 ],
       [49.711 , 49.116 , 47.137 ],
       [48.787 , 50.065 , 50.894 ],
       [51.328 , 50.246 , 49.998 ],
       [45.84  , 44.117 , 41.641 ],
       [41.26  , 42.23  , 43.246 ],
       [45.787 , 47.848 , 47.879 ],
       [46.031 , 44.329 , 42.432 ],
       [40.128 , 39.158 , 36.712 ],
       [14.012 , 18.041 , 20.926 ],
       [25.763 , 28.761 , 29.979 ],
       [31.028 , 31.592 , 31.785 ],
       [33.676 , 32.465 , 32.075 ],
       [30.91  , 27.529 , 26.225 ],
       [22.021 , 19.813 , 17.185 ],
       [13.338 , 10.898 ,  7.0542],
       [ 3.9359,  2.128 ,  3.3115],
       [ 5.6819,  7.3116,  7.9271],
       [ 9.5463, 12.968 , 14.584 ],
       [30.942 , 39.957 , 47.923 ],
       [54.035 , 59.42  , 62.615 ],
       [61.798 , 59.46  , 54.833 ],
       [53.256 , 51.967 , 50.028 ],
       [48.611 , 46.498 , 45.717 ],
       [40.765 , 37.218 , 32.501 ],
       [29.458 , 27.618 , 27.277 ],
       [28.876 , 31.764 , 35.235 ],
       [38.655 , 41.937 , 44.063 ],
       [46.164 , 50.51  , 51.006 ]])

In [37]:
sample = pd.DataFrame(dataset_exp2.data[0,0][0,:,:],columns=[f'amp_{i}' for i in range(1,91)])
sub_sample = pd.DataFrame(dataset_exp2.data[0,0][0,0,:].reshape(30,3),columns=[f'rx_{i}' for i in range(1,4)])

In [27]:
label = dataset_exp2.data[0,1][0]
label

'sit'

In [49]:
sub_sample

       rx_1     rx_2     rx_3
0   25.2100  31.6730  36.9390
1   41.5010  46.8010  49.6430
2   49.7110  49.1160  47.1370
3   48.7870  50.0650  50.8940
4   51.3280  50.2460  49.9980
5   45.8400  44.1170  41.6410
6   41.2600  42.2300  43.2460
7   45.7870  47.8480  47.8790
8   46.0310  44.3290  42.4320
9   40.1280  39.1580  36.7120
10  14.0120  18.0410  20.9260
11  25.7630  28.7610  29.9790
12  31.0280  31.5920  31.7850
13  33.6760  32.4650  32.0750
14  30.9100  27.5290  26.2250
15  22.0210  19.8130  17.1850
16  13.3380  10.8980   7.0542
17   3.9359   2.1280   3.3115
18   5.6819   7.3116   7.9271
19   9.5463  12.9680  14.5840
20  30.9420  39.9570  47.9230
21  54.0350  59.4200  62.6150
22  61.7980  59.4600  54.8330
23  53.2560  51.9670  50.0280
24  48.6110  46.4980  45.7170
25  40.7650  37.2180  32.5010
26  29.4580  27.6180  27.2770
27  28.8760  31.7640  35.2350
28  38.6550  41.9370  44.0630
29  46.1640  50.5100  51.0060

In [60]:
dataset_exp2.data[0,0][0,i,:]

array([26.788 , 33.232 , 38.542 , 43.185 , 49.298 , 52.024 , 52.588 ,
       52.114 , 49.625 , 51.799 , 53.903 , 54.692 , 54.611 , 54.406 ,
       53.741 , 49.406 , 47.182 , 44.933 , 44.207 , 45.153 , 46.176 ,
       48.549 , 50.73  , 51.025 , 49.354 , 47.289 , 44.892 , 43.004 ,
       41.585 , 39.007 , 16.044 , 20.26  , 23.505 , 28.228 , 31.286 ,
       32.636 , 32.957 , 33.383 , 32.922 , 34.496 , 33.069 , 32.158 ,
       30.72  , 27.574 , 26.119 , 21.651 , 19.122 , 16.708 , 12.998 ,
       10.159 ,  7.6187,  5.8608,  5.9129,  7.376 ,  9.5139, 10.719 ,
       11.013 , 12.174 , 15.477 , 17.145 , 31.636 , 40.206 , 48.182 ,
       53.635 , 59.781 , 62.316 , 61.57  , 58.465 , 53.172 , 51.109 ,
       49.749 , 47.709 , 45.704 , 44.092 , 43.069 , 37.76  , 34.078 ,
       29.209 , 26.388 , 24.722 , 24.843 , 27.007 , 30.891 , 34.963 ,
       38.88  , 42.512 , 44.956 , 46.817 , 51.522 , 52.197 ])

In [79]:
dataset_exp2.data[0,0][0,:,:].shape

(1000, 90)

In [73]:
from sklearn.decomposition import PCA


for i in range(100):
    s = dataset_exp2.data[0,0][0,:,:].reshape(30,3)
    pca = PCA()
    pca.fit(s)
    print(pca.explained_variance_ratio_)

[9.74455759e-01 2.51289151e-02 4.15325837e-04]
[9.74483292e-01 2.51126012e-02 4.04106376e-04]
[9.74503439e-01 2.51021977e-02 3.94363422e-04]
[9.74522404e-01 2.50931549e-02 3.84441531e-04]
[9.74531033e-01 2.50925451e-02 3.76421381e-04]
[9.74529491e-01 2.50998297e-02 3.70679052e-04]
[9.74522322e-01 2.51109115e-02 3.66766110e-04]
[9.74530750e-01 2.51064265e-02 3.62823332e-04]
[9.74546050e-01 2.50953152e-02 3.58635096e-04]
[9.74566934e-01 2.50787332e-02 3.54332980e-04]
[9.74587490e-01 2.50620475e-02 3.50462346e-04]
[9.74600077e-01 2.50521825e-02 3.47739997e-04]
[9.74609114e-01 2.50449067e-02 3.45979133e-04]
[9.74615679e-01 2.50391848e-02 3.45136705e-04]
[9.74619598e-01 2.50350753e-02 3.45326995e-04]
[9.74624319e-01 2.50296104e-02 3.46070258e-04]
[9.74628648e-01 2.50233896e-02 3.47962491e-04]
[9.74623939e-01 2.50249028e-02 3.51158030e-04]
[9.74615617e-01 2.50287230e-02 3.55660281e-04]
[9.74602869e-01 2.50343186e-02 3.62812629e-04]
[9.74583058e-01 2.50451217e-02 3.71819914e-04]
[9.74556349e-01 2.50605929e-02 3.83057946e-04]
[9.74522551e-01 2.50826053e-02 3.94843996e-04]
[9.74486761e-01 2.51142346e-02 3.99004291e-04]
[9.74448114e-01 2.51526098e-02 3.99275945e-04]
[9.74408312e-01 2.51934526e-02 3.98235116e-04]
[9.74363292e-01 2.52408166e-02 3.95891432e-04]
[9.74313303e-01 2.52924699e-02 3.94226662e-04]
[9.74258335e-01 2.53492568e-02 3.92407977e-04]
[9.74198130e-01 2.54119378e-02 3.89931813e-04]
[9.74134243e-01 2.54781624e-02 3.87594733e-04]
[9.74073251e-01 2.55394583e-02 3.87291002e-04]
[9.74009526e-01 2.56017876e-02 3.88686046e-04]
[9.73939197e-01 2.56703702e-02 3.90432369e-04]
[9.73865891e-01 2.57407367e-02 3.93371953e-04]
[9.73783394e-01 2.58190275e-02 3.97578287e-04]
[9.73696800e-01 2.59002239e-02 4.02976313e-04]
[9.73601103e-01 2.59887410e-02 4.10155759e-04]
[9.73504280e-01 2.60780731e-02 4.17647337e-04]
[9.73419807e-01 2.61625966e-02 4.17596021e-04]
[9.73342182e-01 2.62435983e-02 4.14219491e-04]
[9.73265474e-01 2.63256803e-02 4.08845501e-04]
[9.73192020e-01 2.64055635e-02 4.02416137e-04]
[9.73123074e-01 2.64789916e-02 3.97933952e-04]
[9.73055558e-01 2.65505883e-02 3.93853412e-04]
[9.72991937e-01 2.66182588e-02 3.89804234e-04]
[9.72925866e-01 2.66881702e-02 3.85963654e-04]
[9.72841925e-01 2.67759523e-02 3.82123233e-04]
[9.72748436e-01 2.68727064e-02 3.78857075e-04]
[9.72659544e-01 2.69632557e-02 3.77200470e-04]
[9.72568358e-01 2.70550984e-02 3.76543368e-04]
[9.72465361e-01 2.71573519e-02 3.77286845e-04]
[9.72362091e-01 2.72584874e-02 3.79421250e-04]
[9.72251921e-01 2.73648295e-02 3.83249257e-04]
[9.72151759e-01 2.74602015e-02 3.88039878e-04]
[9.72119976e-01 2.74902843e-02 3.89739254e-04]
[9.72119419e-01 2.74907274e-02 3.89853253e-04]
[9.72134868e-01 2.74755876e-02 3.89544599e-04]
[9.72166880e-01 2.74444970e-02 3.88622728e-04]
[9.72195868e-01 2.74161796e-02 3.87952277e-04]
[9.72232294e-01 2.73804319e-02 3.87274164e-04]
[9.72277740e-01 2.73357703e-02 3.86490046e-04]
[9.72325680e-01 2.72880520e-02 3.86268368e-04]
[9.72365697e-01 2.72459139e-02 3.88389043e-04]
[9.72402374e-01 2.72054000e-02 3.92225997e-04]
[9.72438267e-01 2.71654073e-02 3.96325854e-04]
[9.72469260e-01 2.71292186e-02 4.01520995e-04]
[9.72506699e-01 2.70842004e-02 4.09100596e-04]
[9.72541136e-01 2.70410955e-02 4.17768299e-04]
[9.72570503e-01 2.70011342e-02 4.28362870e-04]
[9.72600217e-01 2.69608691e-02 4.38914362e-04]
[9.72636932e-01 2.69247946e-02 4.38272949e-04]
[9.72677726e-01 2.68901062e-02 4.32167890e-04]
[9.72724282e-01 2.68519751e-02 4.23742922e-04]
[9.72770790e-01 2.68156388e-02 4.13571580e-04]
[9.72807335e-01 2.67882610e-02 4.04404089e-04]
[9.72838632e-01 2.67654252e-02 3.95942410e-04]
[9.72869559e-01 2.67442891e-02 3.86151689e-04]
[9.72898684e-01 2.67244934e-02 3.76823044e-04]
[9.72946214e-01 2.66859602e-02 3.67825490e-04]
[9.72998301e-01 2.66417266e-02 3.59972325e-04]
[9.73042869e-01 2.66038708e-02 3.53259824e-04]
[9.73084301e-01 2.65677569e-02 3.47941932e-04]
[9.73128209e-01 2.65286178e-02 3.43173183e-04]
[9.73164364e-01 2.64958403e-02 3.39795461e-04]
[9.73200904e-01 2.64608729e-02 3.38223467e-04]
[9.73225567e-01 2.64366470e-02 3.37785567e-04]
[9.73210534e-01 2.64550265e-02 3.34439077e-04]
[9.73176157e-01 2.64941102e-02 3.29732471e-04]
[9.73132041e-01 2.65430921e-02 3.24866916e-04]
[9.73075450e-01 2.66047819e-02 3.19767695e-04]
[9.73026168e-01 2.66587207e-02 3.15111489e-04]
[9.72972004e-01 2.67169648e-02 3.11031346e-04]
[9.72913877e-01 2.67788229e-02 3.07300243e-04]
[9.72851595e-01 2.68441946e-02 3.04210473e-04]
[9.72773312e-01 2.69246059e-02 3.02082569e-04]
[9.72688765e-01 2.70101215e-02 3.01113660e-04]
[9.72605395e-01 2.70938128e-02 3.00792447e-04]
[9.72521240e-01 2.71771235e-02 3.01636168e-04]
[9.72420450e-01 2.72755240e-02 3.04025653e-04]

In [47]:
matrix = np.zeros(shape=(90,90))

In [58]:
s = dataset_exp2.data[0,0][0,i,:].reshape(30,3)

In [52]:
9e-1

0.9